*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0,213,255,1);
}
#menu{
    height: 75px;
    background-color: gray;
    color: white;
  
  
}
#menu h1{
padding-top: 25px;
}
.modal{
    width: 350px;
    height: 220px;
    height: auto;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
  
}
.modal-header{
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
}
.modal-header h2{
    display: inline-block;
}
.close-btn{
    position: absolute;
    left:90%
}
